.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #181E39;
    padding: .8rem 2.5rem;
}
.search form{
    display: flex;
}
.search input{
    width: 80vw;
    height: 2.5rem;
    border: none;
    border-radius: .6rem 0  0 .6rem;
    outline: none;
    padding-left: .5rem;
    font-size: 1.2rem;
}
.search button{
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    border-radius: 0 .6rem .6rem 0;
    background-color: #F91A4E;
    cursor: pointer;
    transition: .3s;
}
.search button:hover{
    background-color: #c7143e;
    color: #181E39;
}
@media screen and (min-width: 700px){
    .search input{
        width: 35rem;
    }
}