.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #181E39;
    padding: .5rem 2.5rem;
}
.logo svg{
    width: 2.5rem;
    height: 2.5rem;
    color: #F91A4E;
}
.search form{
    display: flex;
}
.search input{
    width: 20rem;
    height: 2.5rem;
    border: none;
    border-radius: .6rem 0  0 .6rem;
    outline: none;
    padding-left: .5rem;
}
.search button{
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    border-radius: 0 .6rem .6rem 0;
    background-color: #F91A4E;
    cursor: pointer;
}